:root {
  --font-family: Arial, Helvetica, sans-serif;

  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #dcdcdc;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

main {
  transition-property: background-color, font-size, transform, color;
  transition: 1s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  max-width: 100%;

  padding: 1rem;


  place-items: center;
  text-align: center;

}

hr {
  width: 100%;
  height: 3px;
  background-color: #dcdcdc;
  border-radius: 10px;
}
